@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--default-color: #50a65c;
}

/* scrollbar styles */

.no-scrollbar::-webkit-scrollbar {
	display: none !important;
}

::-webkit-scrollbar {
	height: 0.25rem;
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--default-color);
	border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #50a65bea;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 9999px;
}

@media only screen and (max-width: 768px) {
	.cl-internal-qk5yrq {
		max-width: 100% !important;
	}

	::-webkit-scrollbar {
		-webkit-appearance: none;
	}
}

.blurEffect {
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

@layer base {
	body {
		@apply font-family no-scrollbar;
	}
}

@layer utilities {
	.hoverScaleEffect {
		@apply transition-all duration-500 hover:scale-105;
	}

	.hoverScaleDownEffect {
		@apply transition-all duration-500 hover:scale-95;
	}
}
